/* paleta de colores 
--eggshell: #F0ECD8ff;
--sage: #CFC9AAff;
--rifle-green: #434231ff;
--field-drab: #5E543Aff;
--middle-grey: #898572ff;*/

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #CFC9AAff;
  font-family: 'Quattrocento', serif;
  min-height: 100vh;
}

.title {
  font-size: 350%;
  letter-spacing: 15px;
  overflow: hidden;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  color:#434231ff;
}

.title a {
  text-decoration: none;
  color:#434231ff
}

.container-1 {
  display: flex;
}

nav ul {
  list-style: none;
  margin-left: 18%;
}

nav ul li{
  float: left;
  margin-top: 8px;
}

nav div ul li a {
  font-family: 'Quattrocento', serif;
  text-decoration: none;
  color:  #5E543Aff;
  font-weight:lighter; 
  font-size: 120%;
  letter-spacing: 5px;
  padding: 10px;
}

nav ul li a:hover{
 color: #F0ECD8ff;
}

.firstLine {
  text-align: center;
  margin-top: 2%;
  color: #898572ff;
  margin-bottom: 1.5%;
  line-height: 150%;
  letter-spacing: 5px;
}

.quote p {
  font-size: 150%;
  color: #898572ff;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  line-height: 150%;
  margin-bottom: 30px;
  margin-top: 30px;
}

span {
  font-style: italic;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  color: #434231ff;
  font-size: small;
}

footer a {
  text-decoration: none;
  color: #434231ff ;
}

/* img de home */

.container-2 {
  display: flex;
}

.img-library {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  list-style: none;
}

.img-library > li {
  flex-basis: 350px; /* width: 350px; */
}

.img-library li img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-radius: 5px;
}


/* estilos de about */

.title-about {
  font-size: 350%;
  letter-spacing: 15px;
  overflow: hidden;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  color:#434231ff;
}

.title-about a {
  text-decoration: none;
  color:#434231ff
}

.container-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.richardAdams {
  width: 100%;
  height: auto;
}

.parrafo-uno {
  color: #434231ff;
  font-size: 120%;
  margin-top: 3%;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 3%;
  line-height: 150%;
  text-align: center;
}

/* estilos de books */

.carousel {
  width:340px;
}

div h5 {
  font-weight: bold;
}

div h5:hover {
  background-color: #898572ff;
}

.title-books {
  font-size: 350%;
  letter-spacing: 15px;
  overflow: hidden;
  font-family: 'Oswald', sans-serif;
}

.link-books {
  text-decoration: none;
  color:#434231ff
}

/* estilos de newsletter */

.main-newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
  margin-bottom: 5%;
}

main p, 
.form {
 line-height: 180%;
}

button {
  font-size: 1em;
  background: #5E543Aff;
  color: #CFC9AAff;
  border: 0;
  padding: 0.85em 0.75em;
  margin: 1rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 5px;
}

button:hover {
  color: #F0ECD8ff;
  cursor: pointer;
  background-color: #434231ff;
  transition: all 0.5s;
}

.netflixShow {
  width: 100%;
  height: auto;
}

.container-type{
  display: inline-block;
  font-family: 'Quattrocento', serif;
  font-size: 24px;
  color: #898572ff;
  font-weight: bold;
}

.typed {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid;
  width: 0;
  animation: typing;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}
  
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

input {
  background-color: #F0ECD8ff;
  border: 1px solid #F0ECD8ff;
  border-radius: 4px;
  height:22px; 
  width:250px;
}

/* estilos de contact */

h1.titleContact {
  color:#898572ff;
  text-align: center;
  margin-bottom: 15px;
}

.contact-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact-buttons {
  background-color: #898572ff;
  color: #F0ECD8ff;
  padding: 15px 25px;
  text-decoration: none;
  margin: 8px;
  border-radius: 5px;
}

.contact-buttons:hover {
  background-color:#5E543Aff;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container h1 {
  color:#898572ff;
  text-align: center;
}

.feedback-input {
  font-family: 'Quattrocento', serif;
  font-weight:lighter;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: #F0ECD8ff;
  border:2px solid #5E543Aff;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

[type="submit"] {
  font-family: 'Quattrocento', serif;
  width: 100%;
  background:#898572ff;
  border-radius:5px;
  cursor:pointer;
  color: #F0ECD8ff;
  font-size:24px;
  padding-top:10px;
  padding-bottom:34px;
  transition: all 0.3s;
  margin-top:-4px;
  margin-bottom: 15%;
  font-weight:700;
}
[type="submit"]:hover { background:#5E543Aff; }

.titleContact {
  margin-top: 5%;
  margin-bottom: 10%;
}

/* MEDIA QUERIES */

@media screen and (max-width:768px) { 
  .form-2, #input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.fa-facebook {
  margin-top: 20px;
  margin-right: 10px;
  background: #898572ff;
  color: #F0ECD8ff;
  background-image: linear-gradient(top, rgb(83, 81, 72), rgb(182, 177, 155));
  box-shadow: 60px 12px -18px rgb(124, 122, 108);
}
  header {
   text-align: center;
  }

  .contact-container, 
  h1.title, 
  h1.title-about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}
   
