
@import "../scss/utilidades/variables";
@import "../scss/utilidades/listas";
@import "../scss/utilidades/mixin";


/*reset y estilos aplicados a todos los html*/

* { 
    @include reset (0, 0, border-box);
}

body { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $background-color;
    font-family: 'Quattrocento', serif;
    min-height: 100vh;
}

.title {
    letter-spacing: 15px;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    color: $font-color;
    text-align: center;
    a { 
        text-decoration: none;
        color:$font-color;
    }

    h1 {
        font-size: 85px;
    }
}

.container-1 a {
    font-family: 'Quattrocento', serif;
    text-decoration: none;
    color:  nth($colores , 2);
    font-weight:lighter; 
    font-size: 115%;
    letter-spacing: 5px;
    padding: 10px;
} 
  
.container-1 a:hover {
    color: nth($colores, 1);
}
  
.firstLine {
    @include firstLine (35px, center);
    color: nth($colores, 3);
}


footer {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    color: $font-color;
    h2 {
        font-size: 100%;
    }
    a {
        text-decoration: none;
        color: $font-color;
    }
    h3 {
        font-size: 100%;
    }
}

button {
    @include botones (1em, 5px);
}
button:hover {
    color: nth($colores, 1);
    cursor: pointer;
    background-color: $font-color;
    transition: all 0.5s;
}   

/* MEDIA QUERIES */

@media screen and (max-width:375px), (max-width:768px) { 

    .form-2, #input {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
  .fa-facebook {
    margin-top: 20px;
    margin-right: 10px;
    background: nth($colores, 3);
    color: nth($colores, 1);
    background-image: linear-gradient(top, rgb(83, 81, 72), rgb(182, 177, 155));
    box-shadow: 60px 12px -18px rgb(124, 122, 108);
  }
    header {
     text-align: center;
    }
  
    .contact-container,
    h1.title, 
    h1.title-about, .quote, .column {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .firstLine {
      font-size: 25px;
    }
  
    .quote p {
      font-size: 20px;
      align-self: center;
    }
  
    .img-library {
      text-align: center;
    }
  
    .img-library li img {
      object-fit: contain;
      max-width: 250px;
    }
  
}

/*import*/
@import "html/index";
@import "html/about";
@import "html/books";
@import "html/contact";
@import "html/newsletter";