
@import "../utilidades/variables";
@import "../utilidades/listas";
@import "../utilidades/mixin";
@import "../utilidades/extend";

/*estilos de contact*/

.contact-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    .contact-buttons {
        background-color: nth($colores, 3);
        color: nth($colores, 1);
        padding: 15px 25px;
        text-decoration: none;
        margin: 8px;
        border-radius: 5px;
    }
    .contact-buttons:hover {
        background-color: nth($colores, 2);
    }
    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            color: nth($colores, 3);
            text-align: center;
            font-weight: bold;
            font-size: 25px;
        }
        .feedback-input {
            font-family: 'Quattrocento', serif;
            font-weight:lighter;
            font-size: 18px;
            border-radius: 5px;
            line-height: 22px;
            background-color: nth($colores, 1);
            border:2px solid nth($colores, 2);
            transition: all 0.3s;
            padding: 13px;
            margin-bottom: 15px;
            width:100%;
            box-sizing: border-box;
            outline:0;
        }
    }
}


@media screen and (max-width:375px), (max-width:768px) { 
.contact-container {
    @include flex;
  }
}

    
